<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springsecurity.mapper.MenuMapper">
    <select id="selectPermsByUserId" resultType="java.lang.String">
        SELECT DISTINCT
            t3.perms
        FROM
            sys_user_role t0
                LEFT JOIN sys_role t1 ON t0.role_id = t1.id
                LEFT JOIN sys_role_menu t2 ON t0.role_id = t2.role_id
                LEFT JOIN sys_menu t3 ON t2.menu_id = t3.id
        WHERE
            t0.user_id = #{userId,jdbcType=BIGINT}
          AND t1.`status` = '0'
          AND t3.`status` = '0'
    </select>
</mapper>